
        body{
            background-color: #EEE;
            font-family: "Verdana", Arial, Sans-serif;
            font-size: 14px;
        }

        #container{
            background-color: white; 
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }

        #header{
            color: green;
            padding: 20px;
            text-align:left; 
       }

       #display{
           float: right; 
           width="100"
           margin: 0px 0px 15px 15px;
           clear: both; 
       }

           #content {
           padding: 20px;
           text-align: justify;
       }

       #first{
           font-size: 14px;
           line-height: 25px;
       }

       h4{
           background-color:grey;
           color: white;
           text-align: center;
       }

       table{
           width: 100%;
           font-size: 13px;
       }

       th{ 
           text-align: left; 
       }

       th#date{
           text-align: right;
       }

       ul#skill {
           line-height:25px;
           margin-top:14px;
           margin-bottom:20px;
       }

     form {
            text-align: center;
            margin-top: 0;
        }
        .submit {
            background-color: green;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            color: black;
            outline: none;
            margin: 0;
            font-weight: bold;
        }
        .submit:hover {
            background-color: white;
        }
        textarea {
            height: 60px;
        }
        input, textarea {
            margin-bottom:10px;
            font-size: 11pt;
            padding: 10px 5px 5px;
            border: 1px solid #cecece;
            background-color: #efefef;
            color: #787575;
            border-radius: 5px;
            width: 95%;
            outline: none;
        }

